{{ if or (isset .Params "tags") (isset .Params "categories") }}
<div class="post-info">
    {{ if (isset .Params "tags") }}
    <span class="post_meta_tags">
        tags:
        {{ range .Params.tags }}
        <a href="{{ "/tags/" }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
    </span>
    {{ end }}
    {{ if (isset .Params "categories") }}
    in:
    <span class="post_meta_categories">
        {{ range .Params.categories }}
        <a href="{{ "/categories/" }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
    </span>
    {{ end }}
</div>
{{ end }}